In [19]:
import pandas as pd

firm = pd.read_csv("C:/Users/DaBin/Desktop/대학원/2024-2/통계계산특론/PROJECT/data/firm_500_new.csv")
macro = pd.read_csv("C:/Users/DaBin/Desktop/대학원/2024-2/통계계산특론/PROJECT/data/macroeconomic_new.csv")

In [23]:
firm['ret']

0        -0.022556
1         0.123077
2        -0.068493
3        -0.022059
4        -0.142857
            ...
105662   -0.069663
105663    0.099106
105664    0.106430
105665   -0.256513
105666   -0.011807
Name: ret, Length: 105667, dtype: float64

In [25]:
firm_df = firm.drop(['Founded','date','gvkey'],axis = 1)
firm_df.head()


firm_new = firm_df.drop([ 1244,  1245,  1580,  1835,  1836,  1837,  1838,  1839,  1840,
         1841,  6859,  6860, 10795, 10796, 10797, 10798, 10799, 10800,
        11707, 11708, 11709, 11710, 11711, 11712, 11713, 14308, 14309,
        14310, 14613, 14614, 17652, 17653, 20027, 20295, 20598, 21168,
        22034, 22035, 22036, 22339, 22340, 22341, 22342, 22343, 26400,
        26401, 26402, 27570, 27687, 27688, 29160, 29161, 33512, 33513,
        33514, 35810, 35811, 35812, 36737, 36738, 36739, 36740, 36741,
        37938, 37939, 37940, 37941, 37942, 37943, 37944, 42602, 44677,
        44678, 45357, 45358, 46853, 46854, 46855, 46856, 46857, 47071,
        47072, 50080, 50081, 50082, 50083, 50084, 50085, 50086, 50389,
        50390, 50992, 50993, 50994, 50995, 50996, 50997, 50998, 52055,
        52056, 52057, 52058, 52059, 52362, 52363, 52364, 52365, 52366,
        52669, 52670, 52671, 52672, 55392, 55393, 57459, 57460, 57461,
        58600, 58601, 58602, 58603, 60977, 60978, 60979, 61915, 61916,
        61917, 63715, 63716, 64318, 64319, 64921, 64922, 64923, 64924,
        64925, 69966, 69967, 69968, 69969, 69970, 69971, 69972, 72537,
        72538, 72824, 74594, 74595, 75191, 75192, 76113, 76114, 76115,
        76116, 76117, 76118, 76119, 78474, 78475, 78476, 78477, 78478,
        82573, 82574, 82575, 82576, 83246, 83247, 84601, 84602, 84603,
        84604, 84605, 84606, 84607],axis = 0)

firm_new.reset_index()
firm_new.to_csv('C:/Users/DaBin/Desktop/대학원/2024-2/통계계산특론/PROJECT/data/firm_new.csv',index = False)

In [35]:
scaled_firm_new = firm_new.drop(['ret','month','year','ticker'],axis = 1)


#scaling
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_firm_new = scaler.fit_transform(scaled_firm_new)
scaled_firm_new = pd.DataFrame(scaled_firm_new)

scaled_firm_new.columns = firm_new.drop(['ret','month','year','ticker'],axis = 1).columns

scaled_firm_new['ret'] = firm_new['ret']
scaled_firm_new['month'] = firm_new['month']
scaled_firm_new['year'] = firm_new['year']
scaled_firm_new['ticker'] = firm_new['ticker']


scaled_firm_new.to_csv('C:/Users/DaBin/Desktop/대학원/2024-2/통계계산특론/PROJECT/data/scaled_firm_new.csv',index = False)

In [36]:
scaled_firm_new.head()

,permno,sic,exchcd,shrcd,adm,bm_ia,herf,hire,me_ia,ill,...,roa,roe,rsup,sgr,sp,ffi49,ret,month,year,ticker
0,-1.469396,-0.556163,1.668523,0.032746,2.024274,2.757255,0.695447,-0.188002,-0.084402,-0.015944,...,-0.762323,-0.083277,-0.009901,-0.007340,2.179729,0.493626,-0.022556,2.0,1997.0,AAPL
1,-1.469396,-0.556163,1.668523,0.032746,2.080616,2.847289,0.695447,-0.188002,-0.095331,-0.011138,...,-0.762323,-0.083277,-0.151030,-0.011491,2.241700,0.493626,0.123077,3.0,1997.0,AAPL
2,-1.469396,-0.556163,1.668523,0.032746,1.774511,2.358139,0.695447,-0.188002,-0.029187,-0.006435,...,-0.762323,-0.083277,-0.079880,-0.008966,1.905013,0.493626,-0.068493,4.0,1997.0,AAPL
3,-1.469396,-0.556163,1.668523,0.032746,1.935668,2.615664,0.695447,-0.188002,-0.066155,-0.019584,...,-2.927563,-0.313138,0.299893,0.005672,1.814078,0.493626,-0.022059,5.0,1997.0,AAPL
4,-1.469396,-0.556163,1.668523,0.032746,1.988740,2.700473,0.695447,-0.188002,-0.077246,-0.024951,...,-2.927563,-0.313138,0.044677,0.006184,1.866404,0.493626,-0.142857,6.0,1997.0,AAPL

In [ ]:
firm_new.to_csv('C:/Users/DaBin/Desktop/대학원/2024-2/통계계산특론/PROJECT/data/firm_new.csv',index = False)
scaled_firm_new.to_csv('C:/Users/DaBin/Desktop/대학원/2024-2/통계계산특론/PROJECT/data/scaled_firm_new.csv',index = False)

In [12]:
np.where((firm['month'] == 1)& (firm['year'] == 1997) | (firm['year'] == 1996))

(array([ 1244,  1245,  1580,  1835,  1836,  1837,  1838,  1839,  1840,
         1841,  6859,  6860, 10795, 10796, 10797, 10798, 10799, 10800,
        11707, 11708, 11709, 11710, 11711, 11712, 11713, 14308, 14309,
        14310, 14613, 14614, 17652, 17653, 20027, 20295, 20598, 21168,
        22034, 22035, 22036, 22339, 22340, 22341, 22342, 22343, 26400,
        26401, 26402, 27570, 27687, 27688, 29160, 29161, 33512, 33513,
        33514, 35810, 35811, 35812, 36737, 36738, 36739, 36740, 36741,
        37938, 37939, 37940, 37941, 37942, 37943, 37944, 42602, 44677,
        44678, 45357, 45358, 46853, 46854, 46855, 46856, 46857, 47071,
        47072, 50080, 50081, 50082, 50083, 50084, 50085, 50086, 50389,
        50390, 50992, 50993, 50994, 50995, 50996, 50997, 50998, 52055,
        52056, 52057, 52058, 52059, 52362, 52363, 52364, 52365, 52366,
        52669, 52670, 52671, 52672, 55392, 55393, 57459, 57460, 57461,
        58600, 58601, 58602, 58603, 60977, 60978, 60979, 61915, 61916,
        61917, 63715, 63716, 64318, 64319, 64921, 64922, 64923, 64924,
        64925, 69966, 69967, 69968, 69969, 69970, 69971, 69972, 72537,
        72538, 72824, 74594, 74595, 75191, 75192, 76113, 76114, 76115,
        76116, 76117, 76118, 76119, 78474, 78475, 78476, 78477, 78478,
        82573, 82574, 82575, 82576, 83246, 83247, 84601, 84602, 84603,
        84604, 84605, 84606, 84607]),)

In [ ]:
import numpy as np

firm_new = firm.drop([ 1244,  1245,  1580,  1835,  1836,  1837,  1838,  1839,  1840,
         1841,  6859,  6860, 10795, 10796, 10797, 10798, 10799, 10800,
        11707, 11708, 11709, 11710, 11711, 11712, 11713, 14308, 14309,
        14310, 14613, 14614, 17652, 17653, 20027, 20295, 20598, 21168,
        22034, 22035, 22036, 22339, 22340, 22341, 22342, 22343, 26400,
        26401, 26402, 27570, 27687, 27688, 29160, 29161, 33512, 33513,
        33514, 35810, 35811, 35812, 36737, 36738, 36739, 36740, 36741,
        37938, 37939, 37940, 37941, 37942, 37943, 37944, 42602, 44677,
        44678, 45357, 45358, 46853, 46854, 46855, 46856, 46857, 47071,
        47072, 50080, 50081, 50082, 50083, 50084, 50085, 50086, 50389,
        50390, 50992, 50993, 50994, 50995, 50996, 50997, 50998, 52055,
        52056, 52057, 52058, 52059, 52362, 52363, 52364, 52365, 52366,
        52669, 52670, 52671, 52672, 55392, 55393, 57459, 57460, 57461,
        58600, 58601, 58602, 58603, 60977, 60978, 60979, 61915, 61916,
        61917, 63715, 63716, 64318, 64319, 64921, 64922, 64923, 64924,
        64925, 69966, 69967, 69968, 69969, 69970, 69971, 69972, 72537,
        72538, 72824, 74594, 74595, 75191, 75192, 76113, 76114, 76115,
        76116, 76117, 76118, 76119, 78474, 78475, 78476, 78477, 78478,
        82573, 82574, 82575, 82576, 83246, 83247, 84601, 84602, 84603,
        84604, 84605, 84606, 84607], axis = 0)


#scaling
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_firm_new = scaler.fit_transform(firm_new)


firm_new.to_csv('C:/Users/DaBin/Desktop/대학원/2024-2/통계계산특론/PROJECT/data/firm_new.csv',index = False)
scaled_firm_new.to_csv('C:/Users/DaBin/Desktop/대학원/2024-2/통계계산특론/PROJECT/data/scaled_firm_new.csv',index = False)

In [35]:
firm_df = firm.drop('ticker',axis = 1)
data = pd.merge(firm_df,macro,
                     left_on= ["month","year"], right_on= ["month","year"], how="left")

In [ ]:
firm_df.drop([ 1244,  1245,  1580,  1835,  1836,  1837,  1838,  1839,  1840,
         1841,  6859,  6860, 10795, 10796, 10797, 10798, 10799, 10800,
        11707, 11708, 11709, 11710, 11711, 11712, 11713, 14308, 14309,
        14310, 14613, 14614, 17652, 17653, 20027, 20295, 20598, 21168,
        22034, 22035, 22036, 22339, 22340, 22341, 22342, 22343, 26400,
        26401, 26402, 27570, 27687, 27688, 29160, 29161, 33512, 33513,
        33514, 35810, 35811, 35812, 36737, 36738, 36739, 36740, 36741,
        37938, 37939, 37940, 37941, 37942, 37943, 37944, 42602, 44677,
        44678, 45357, 45358, 46853, 46854, 46855, 46856, 46857, 47071,
        47072, 50080, 50081, 50082, 50083, 50084, 50085, 50086, 50389,
        50390, 50992, 50993, 50994, 50995, 50996, 50997, 50998, 52055,
        52056, 52057, 52058, 52059, 52362, 52363, 52364, 52365, 52366,
        52669, 52670, 52671, 52672, 55392, 55393, 57459, 57460, 57461,
        58600, 58601, 58602, 58603, 60977, 60978, 60979, 61915, 61916,
        61917, 63715, 63716, 64318, 64319, 64921, 64922, 64923, 64924,
        64925, 69966, 69967, 69968, 69969, 69970, 69971, 69972, 72537,
        72538, 72824, 74594, 74595, 75191, 75192, 76113, 76114, 76115,
        76116, 76117, 76118, 76119, 78474, 78475, 78476, 78477, 78478,
        82573, 82574, 82575, 82576, 83246, 83247, 84601, 84602, 84603,
        84604, 84605, 84606, 84607],axis = 0)

,permno,sic,exchcd,shrcd,adm,bm_ia,herf,hire,me_ia,ill,...,rna,roa,roe,rsup,sgr,sp,ffi49,month,year,ret
0,-1.469839,-0.556521,1.667549,0.033008,2.021319,2.758544,0.694346,-0.187851,-0.084292,-0.015900,...,-0.075869,-0.762875,-0.083320,-0.005588,-0.007339,2.179699,0.493201,2,1997,-0.022556
1,-1.469839,-0.556521,1.667549,0.033008,2.077615,2.848611,0.694346,-0.187851,-0.095225,-0.011091,...,-0.263991,-0.762875,-0.083320,-0.139787,-0.011493,2.241678,0.493201,3,1997,0.123077
2,-1.469839,-0.556521,1.667549,0.033008,1.771760,2.359278,0.694346,-0.187851,-0.029057,-0.006383,...,-0.116342,-0.762875,-0.083320,-0.072130,-0.008967,1.904946,0.493201,4,1997,-0.068493
3,-1.469839,-0.556521,1.667549,0.033008,1.932785,2.616900,0.694346,-0.187851,-0.066039,-0.019543,...,-0.059333,-2.929516,-0.313369,0.288995,0.005683,1.814000,0.493201,5,1997,-0.022059
4,-1.469839,-0.556521,1.667549,0.033008,1.985815,2.701741,0.694346,-0.187851,-0.077133,-0.024915,...,-0.034122,-2.929516,-0.313369,0.046310,0.006196,1.866333,0.493201,6,1997,-0.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105662,-1.276683,-1.006262,1.667549,0.033008,-0.294215,5.753057,-0.601796,-0.187851,-0.255822,-0.004253,...,-3.526689,-0.412443,-0.045842,-0.040928,-0.006302,0.043711,-1.289969,11,2021,-0.069663
105663,-1.276683,-1.006262,1.667549,0.033008,-0.288952,6.335775,-0.601796,-0.187851,-0.280218,0.006182,...,-3.519595,-0.412443,-0.045842,-0.040928,-0.006366,0.090158,-1.289969,12,2021,0.099106
105664,-1.276683,-1.006262,1.667549,0.033008,-0.300620,5.660649,-0.601796,-0.187851,-0.251569,0.007953,...,-3.526689,-0.412443,-0.045842,-0.040928,-0.006366,0.036345,-1.289969,1,2022,0.106430
105665,-1.276683,-1.006262,1.667549,0.033008,-0.282739,5.006057,-0.601796,-0.187851,-0.217786,0.014182,...,-3.704198,-0.212552,-0.023432,0.384540,0.003752,0.033052,-1.289969,2,2022,-0.256513
105666,-1.276683,-1.006262,1.667549,0.033008,-0.278296,7.217725,-0.601796,-0.187851,-0.310675,0.106383,...,-3.733711,-0.212552,-0.023432,0.537536,0.003752,0.226918,-1.289969,3,2022,-0.011807

:

In [39]:
from sklearn.decomposition import PCA

n_com = 20
pca = PCA(n_components = n_com)
pca_array = pca.fit_transform(macro)
pca_macro = pd.DataFrame(pca_array, index = macro.index,
                      columns = [f"pca{num+1}" for num in range(n_com)])


n_com = 20
pca = PCA(n_components = n_com)
pca_array = pca.fit_transform(firm_df)
pca_firm = pd.DataFrame(pca_array, index = firm_df.index,
                      columns = [f"pca{num+1}" for num in range(n_com)])

In [40]:
firm.head()

,permno,sic,exchcd,shrcd,adm,bm_ia,herf,hire,me_ia,ill,...,roa,roe,rsup,sgr,sp,ffi49,month,year,ticker,ret
0,-1.469839,-0.556521,1.667549,0.033008,2.021319,2.758544,0.694346,-0.187851,-0.084292,-0.015900,...,-0.762875,-0.083320,-0.005588,-0.007339,2.179699,0.493201,2,1997,AAPL,-0.022556
1,-1.469839,-0.556521,1.667549,0.033008,2.077615,2.848611,0.694346,-0.187851,-0.095225,-0.011091,...,-0.762875,-0.083320,-0.139787,-0.011493,2.241678,0.493201,3,1997,AAPL,0.123077
2,-1.469839,-0.556521,1.667549,0.033008,1.771760,2.359278,0.694346,-0.187851,-0.029057,-0.006383,...,-0.762875,-0.083320,-0.072130,-0.008967,1.904946,0.493201,4,1997,AAPL,-0.068493
3,-1.469839,-0.556521,1.667549,0.033008,1.932785,2.616900,0.694346,-0.187851,-0.066039,-0.019543,...,-2.929516,-0.313369,0.288995,0.005683,1.814000,0.493201,5,1997,AAPL,-0.022059
4,-1.469839,-0.556521,1.667549,0.033008,1.985815,2.701741,0.694346,-0.187851,-0.077133,-0.024915,...,-2.929516,-0.313369,0.046310,0.006196,1.866333,0.493201,6,1997,AAPL,-0.142857

In [36]:
data.shape

(105667, 181)

In [25]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score
import xgboost as xgb


# 결과 저장 리스트
adj_results = [] 
r2_results = []

y=firm[['ret','year']]


 # Validation 연도별 반복 (2012년부터 2016년까지)
for validation_year in range(2012, 2017):
    # 1. Train 데이터: 1997 ~ (validation_year - 1)
    train_X = data[(data['year'] >= 1997) & (data['year'] <= validation_year - 1)].drop(columns=['year', 'month'])
    train_y = y[(y['year'] >= 1997) & (y['year'] <= validation_year - 1)]['ret']

    # 2. Validation 데이터: 해당 validation_year
    validation_X = data[data['year'] == validation_year].drop(columns=['year', 'month'])
    validation_y = y[y['year'] == validation_year]['ret']

    # 3. XGBoost 모델 정의
    model = xgb.XGBRegressor(objective='reg:squarederror', random_state=42)
    model.fit(train_X, train_y)  # 모델 학습

    # 4. Validation 예측
    y_pred = model.predict(validation_X)

    # 5. 성능 측정 (Adjusted R-squared)
    r_squared = r2_score(validation_y, y_pred)
    n = len(validation_y)  # Number of samples
    k = train_X.shape[1]  # Number of predictors
    adjusted_r2 = 1 - ((1 - r_squared) * (n - 1)) / (n - k - 1)

    # 결과 저장
    r2_results.append(r_squared)
    adj_results.append(adjusted_r2)

# 각 데이터셋의 평균 Adjusted R-squared 계산
avg_adjusted_r2 = np.mean(adj_results)


# 출력
print("Final Results:")
print(avg_adjusted_r2)
print("R2 : ", np.mean(r2_results))

Final Results:
-0.45174681653403076
R2 :  -0.3955421449855603

In [27]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score
import xgboost as xgb


# 결과 저장 리스트
adj_results = [] 
r2_results = []

y=firm[['ret','year']]


for test_year in range(2017, 2023):
    # 1. Train 데이터: 1997 ~ (validation_year - 1)
    train_X = data[(data['year'] >= 1997) & (data['year'] <= test_year - 1)].drop(columns=['year', 'month'])
    train_y = y[(y['year'] >= 1997) & (y['year'] <= test_year - 1)]['ret']

    # 2. 
    test_X = data[data['year'] == test_year].drop(columns=['year', 'month'])
    test_y = y[y['year'] == test_year]['ret']

    # 3. XGBoost 모델 정의
    model = xgb.XGBRegressor(objective='reg:squarederror', random_state=42)
    model.fit(train_X, train_y)  # 모델 학습

    # 4. Validation 예측
    y_pred = model.predict(test_X)

    # 5. 성능 측정 (Adjusted R-squared)
    r_squared = r2_score(test_y, y_pred)
    n = len(test_y)  # Number of samples
    k = train_X.shape[1]  # Number of predictors
    adjusted_r2 = 1 - ((1 - r_squared) * (n - 1)) / (n - k - 1)

    # 결과 저장
    r2_results.append(r_squared)
    adj_results.append(adjusted_r2)

# 각 데이터셋의 평균 Adjusted R-squared 계산
avg_adjusted_r2 = np.mean(adj_results)


# 출력
print("Final Results:")
print(avg_adjusted_r2)
print("R2 : ", np.mean(r2_results))

Final Results:
-0.386770695273641
R2 :  -0.3066526007600982

In [20]:
y[y['year'] == 2017]['ret']

239       0.047746
240       0.133581
241       0.048690
242      -0.000070
243       0.067804
            ...
105408    0.002879
105409    0.016906
105410    0.000941
105411    0.134362
105412   -0.003458
Name: ret, Length: 4833, dtype: float64